{% extends 'base.html' %}
{% block content %}

<h1>Welcome to our flight booking website!</h1>
<br>
<p>
We offer a wide variety of flights to destinations all over the world. Whether you're looking for a last-minute getaway or planning your dream vacation, we have the perfect flight for you.

Our website is easy to use and our customer service is top-notch. We're committed to making your travel experience as smooth and enjoyable as possible.

Start planning your next adventure today!
</p>
{% endblock content %}